.container{
    margin-bottom: 100px;
    
}
.orange-bg{
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 40px;
    
}
.cat1, .cat2, .cat3{
    padding: 20px;
    border-radius: 10%;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orangered;
}
.cat3{
    background-color: palegreen;
}
.half-img img{
    height: 100px;
    width: 100px;
}
.card{
    box-shadow: 10px 40px 60px gray;
    border: none;
}
footer{
    text-align: center;
}